# Dependencies
node_modules/
Client/node_modules/
server/node_modules/

# Production/Build
Client/dist/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
Client/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
